body{
 display: flex;  
 flex-direction: column;
 justify-content: center;
 align-items: center;
 

}

div{
  border: solid 2px;
  border-radius: 10%;
  height: 300px;
  width: 250px;
  box-shadow: 0 10px 20px 0 rgb(0, 0,0 );
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  
}